body{
font-family:Arial;
background:#dfe9f3;
}

.container{
width:90%;
margin:auto;
background:white;
padding:20px;
margin-top:30px;
border-radius:10px;
}

h2{
text-align:center;
color:#003366;
}

input{
padding:10px;
margin:5px;
width:180px;
}

button{
padding:10px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th{
background:#003366;
color:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

select{
padding:5px;
}
